<mat-sidenav-container class="h-100">
  <mat-sidenav
    [mode]="isMobile ? 'over' : 'side'"
    [opened]="sidenavOpened()"
    (closedStart)="sidenavOpened.set(false)"
    class="app-sidenav d-flex flex-column bg-sidenav p-2"
  >
    <div class="d-flex flex-column h-100">
      <mat-toolbar class="position-sticky top-0 z-1 bg-sidenav">
        <div class="d-flex align-items-center justify-content-center w-100 gap-1">
          <mat-icon>wallet</mat-icon>
          <div class="fw-semibold">{{ 'APP.NAME' | translate }}</div>
        </div>
      </mat-toolbar>
      <div class="flex-1">
        <mat-nav-list class="pt-2">
          @for (item of navItems; track item.route) {
            @if (hasAnyRole(item.roles)) {
              <mat-list-item [routerLink]="item.route"
                              routerLinkActive="active"
                             (click)="isMobile && sidenavOpened.set(false);"
                             onKeyUp="" class="my-2">
                <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
                <span matListItemTitle>{{ item.labelKey | translate }}</span>
                @if (item.badge) {
                  <span matListItemMeta class="badge rounded-pill px-2 py-0 fs-xs fw-semibold">{{ item.badge }}</span>
                }
              </mat-list-item>
            }
          }
        </mat-nav-list>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="position-sticky top-0 z-1 gap-2 p-3" style="margin: 0 !important;">
      <button mat-icon-button (click)="toggleSidenav()">
        <mat-icon>menu_open</mat-icon>
      </button>

      <span class="fs-xl fw-bold">{{activeRouteName()}}</span>
      <span class="flex-1"></span>
      <span class="fs-xs text-muted text-center pe-3">{{ 'APP.VERSION' | translate }}</span>
      <div>
        <mat-nav-list>
          <mat-list-item [matMenuTriggerFor]="userMenu"
                         class="border"
                         (click)="isMobile && sidenavOpened.set(false);"
                         onKeyUp="">
            <mat-icon matListItemIcon>account_circle</mat-icon>
            <div matListItemTitle class="d-flex flex-column">
              <span>
                {{ userFirstNameShort }}
                @if (!isMobile) {
                  {{ userLastNameShort }}
                }
              </span>
            </div>
          </mat-list-item>
        </mat-nav-list>
      </div>
    </mat-toolbar>
    <mat-card class="m-3 border" appearance="outlined">
      <mat-card-content>
        <div class="min-h-48">
          <router-outlet></router-outlet>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-menu #userMenu="matMenu" xPosition="before">
  <mat-nav-list class="p-2">
    <mat-list-item routerLinkActive="active" routerLink="/user-account">
      <mat-icon matListItemIcon>person</mat-icon>
      <div matListItemTitle class="d-flex flex-column">
        <span>{{ 'MENU.MY_ACCOUNT' | translate }}</span>
        <span class="fs-xs text-muted">{{ userEmail }}</span>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <app-language-switcher [listMode]="true"/>
    <mat-divider></mat-divider>
    <mat-list-item (click)="logout()" onKeyUp="">
      <mat-icon matListItemIcon>logout</mat-icon>
      <div matListItemTitle>{{ 'MENU.LOGOUT' | translate }}</div>
    </mat-list-item>
  </mat-nav-list>
</mat-menu>
