:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-sidenav {
  width: 240px;

  mat-nav-list .active {
    background-color: var(--mat-sys-background);
  }

  .badge {
    background-color: var(--mat-sys-primary);
    color: var(--mat-sys-on-primary);
  }
}

.bg-sidenav {
  background-color: var(--mat-sys-secondary-container);
}
