@use '@angular/material' as mat;
@use 'styles/utilities';
@use 'styles/colors';

html {
  color-scheme: light;
  @include mat.theme((
    color: mat.$azure-palette,
    typography: Inter,
    density: 0
  ));

  --mat-sys-primary: #0f172a;
  --mat-sys-on-primary: #ffffff;
  --mat-sys-primary-container: #e2e8f0;
  --mat-sys-on-primary-container: #0f172a;
  --mat-sys-on-surface: #0f172a;
  --mat-sys-on-surface-variant: #0f172a;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: Inter, "Helvetica Neue", sans-serif;
  font-size: 14px;
}
