@use '@angular/material' as mat;
@use 'styles/utilities';
@use 'styles/colors';

html {
  color-scheme: light;
  @include mat.theme((
    color: mat.$azure-palette,
    typography: Inter,
    density: 0
  ));
}

html, body {
  height: 100%;
  margin: 0;
  font-family: Inter, "Helvetica Neue", sans-serif;
  font-size: 14px;
}
